<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Identity</title>
    <link id="favicon" rel="icon" href="/extension/images/icons/user.svg" />  
    <link rel="stylesheet" href="/extension/css/custom-elements.css" />
    <link rel="stylesheet" href="../view.css" />
    <link rel="stylesheet" href="dashboard.css" />
    <link rel="stylesheet" href="/extension/css/font-awesome.css" />
    <script src="/extension/js/components.js"></script>
  </head>

  <body>

    <slide-panels id="overlay_panels">

      <slide-panel id="nav" class="sidenav" options="left pointer-events" >

        <header>
          <h1>Identity</h1>
        </header>

        <section>
          <input class="global-search" type="search" placeholder="Search your identity" />
          <nav>
            <a href="?view=personas"><i class="fas fa-user"></i>My Personas</a>
            <a href="?view=notifications"><i class="fas fa-bell"></i>Notifications</a>
            <a href="?view=credentials"><i class="fas fa-file-signature"></i>Credentials</a>
            <a href="?view=connections"><i class="fas fa-people-arrows"></i>Connections</a>
            <a href="?view=apps"><i class="fas fa-database"></i>Apps & Data</a>
          </nav>
        </section>

      </slide-panel>

    </slide-panels>

    <main>

      <header id="global_header">
        <a id="nav_toggle" before-content="☰" tabindex="0"></a><h1>Identity</h1>
        <nav>

          <input class="global-search" type="search" placeholder="Search your identity" />
        </nav>
      </header>

      <slide-panels id="content_panels">

        <slide-panel id="personas" options="bottom fade">
          <header>
            <h2><i class="fas fa-user"></i>Personas</h2>
            <nav>
              <a>Link 1</a>
              <a>Link 2</a>
              <a>Link 3</a>
              <a>✕</a>
            </nav>
          </header>
          <section>
            <ul id="public_personas"></ul>
            <div id="no_personas">
              <i class="fas fa-users"></i>
              <h3>Create a Persona</h3>
              <p>Personas are public versions of your identity you share with other people, 
                apps, and services. Personas can be linked to you, so only use a Persona if 
                you want to interact publicly.
              </p>
              <button class="create-persona" type="button">+ Create a new Persona</button>
            </div>
            <ul id="private_identifiers"></ul>
          </section>
        </slide-panel>


        <slide-panel id="notifications" options="bottom fade" >
          <header>
            <h2><i class="fas fa-bell"></i>Notifications</h2>
            <nav>
              <a>Link 1</a>
              <a>Link 2</a>
              <a>Link 3</a>
              <a>✕</a>
            </nav>
          </header>
          <section>
            Foo
          </section>
        </slide-panel>

        <slide-panel id="connections" options="bottom fade" >
          <header>
            <h2><i class="fas fa-people-arrows"></i>Connections</h2>
            <nav>
              <a>Link 1</a>
              <a>Link 2</a>
              <a>Link 3</a>
              <a>✕</a>
            </nav>
          </header>
          <section>
            Foo
          </section>
        </slide-panel>

        <slide-panel id="credentials" options="bottom fade" >
          <header>
            <h2><i class="fas fa-file-signature"></i>Credentials</h2>
            <nav>
              <a href="https://google.com">Link 1</a>
              <a>Link 2</a>
              <a>Link 3</a>
              <a>✕</a>
            </nav>
          </header>
          <section>
            Foo
          </section>
        </slide-panel>

        <slide-panel id="apps" options="bottom fade" >
          <header>
            <h2><i class="fas fa-database"></i>Apps & Data</h2>
            <nav>
              <a>Link 1</a>
              <a>Link 2</a>
              <a>Link 3</a>
              <a>✕</a>
            </nav>
          </header>
          <section>
            Foo
          </section>
        </slide-panel>

        <slide-panel id="global_search" options="bottom fade" >
          <header>
            <h2><i class="fas fa-search"></i>Searching for "<span id="global_search_query"></span>"</h2>
            <nav>
              <a>Link 1</a>
              <a>Link 2</a>
              <a>Link 3</a>
              <a>✕</a>
            </nav>
          </header>
          <section>
            Foo
          </section>
        </slide-panel>
        
      </slide-panels>

    </main>

    <modal-overlay id="persona_create_modal">
      <section>
        <header>
          <h3>Create a new Persona</h3><span modal-close>⨉</span>
        </header>
        <label>Name your new Persona:
          <input placeholder="Persona Name" />
        </label>
        <label>Pick an icon to represent this Persona:
          <ul id="persona_create_modal_icons" class="persona-selection-list">
            <li>
              <i class="fas fa-user"></i>
              <h4>Public</h4>
            </li>
            <li>
              <i class="fas fa-user-tie"></i>
              <h4>Career</h4>
            </li>
            <li>
              <i class="fas fa-gamepad"></i>
              <h4>Gamer</h4>
            </li>
            <li id="persona_create_modal_custom">
              <i class="fas fa-plus"></i>
              <h4>Custom</h4>
            </li>
          </ul>
        </label>
        <footer>
          <button type="button">Cancel</button>
          <button type="button">Create</button>
        </footer>
      </section>
    </modal-overlay>
    
    <script src="/extension/js/polyfills/web-extension-polyfill.js"></script>
    <script src="/extension/js/utils.js"></script>
    <script src="../view.js"></script>
    <script src="/extension/js/anime.min.js"></script>
    <script src="dashboard.js"></script>
  </body>

</html>