<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>&#8291;</title>
    <link rel="stylesheet" href="/extension/css/font-awesome.css" />
    <link rel="stylesheet" href="/extension/css/custom-elements.css" />
    <link rel="stylesheet" href="../view.css" />
    <link rel="stylesheet" href="../sidebar.css" />
    <link rel="stylesheet" href="offer-credential.css" />
    <script src="/extension/js/custom-elements.js" type="module"></script>
  </head>

  <body>

    <main>

      <header class="panel-header">
        <h2>This site would like to offer you a credential</h2>
        <span view-action="close" flex="left">✕</span>
      </header>
      <p>
        If you accept this credential, it will be stored for you in your Identity dashboard where you can view it at any time.
      </p>
      <button options="action" action="rejected">Reject</button>
      <button options="action" action="accepted">Accept</button>

      <hr/>

      <div id="preview">
        <detail-box>
          <header>
            <button id="show_preview" options="action">Show Preview</button>
          </header>
          <section id="preview_content"></section>
        </detail-box>
      </div>

    </main>

    <footer banner="warning">
      Block this site from offering credentials? <button id="block_credential_offers" view-action="close" options="cancel">Block</button>
    </footer>

    <script src="/extension/js/polyfills/web-extensions.js"></script>
    <script src="/extension/js/utils.js" type="module"></script>
    <script src="/extension/js/jshashes.js"></script>
    <script src="/extension/js/jws.js"></script>
    <script src="../view.js" type="module"></script>
    <script src="../sidebar.js" type="module"></script>
    <script src="offer-credential.js" type="module"></script>
  </body>

</html>