
[semantic-view="card"][semantic-type="https—schema.org—invoice"] h3 {
  padding: 0 0 0.5em;
  border-bottom: 4px dotted rgb(var(--more-color));
}

[semantic-view="card"][semantic-type="https—schema.org—invoice"] table {
  width: 100%;
}

[semantic-view="card"][semantic-type="https—schema.org—invoice"] table td:last-child {
  font-family: monospace;
}

[semantic-view="card"][semantic-type="https—schema.org—invoice"] table td:last-child::first-letter {
  padding: 0 0.2em 0 0;
  opacity: 0.65;
}