

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column;
}

body > header,
body > footer {
  padding: 1em;
}

body > header {
  padding-top: 1.5em;
}

body > header > * {
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  flex-grow: 1;
  padding: 0 1em;
}

body > footer {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #444;
  }
  h1,h2,h3,h4,h5,h6 {
    color: #fff;
  }
}

