@media (prefers-color-scheme: dark) {
  body {
    background: #444;
  }
  h1,h2,h3,h4,h5,h6 {
    color: #fff;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  padding: 0.5em 0.75em 0.6em;
  background: #eee;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.4);
  cursor: pointer;
}

[entity-theme=""], [entity-theme~="background"] {
  background: var(--entity-theme-background);
}

[entity-theme=""], [entity-theme~="text"] {
  background: var(--entity-theme-text);
}

