
:root {

  --no-color: 255,255,255;
  --dim-color: 225,225,225;
  --low-color: 200,200,200;
  --mid-color: 100,100,100;
  --high-color: 50,50,50;
  --full-color: 0,0,0;
  --active-color: #3aaaff;

  --page-bk: rgb(var(--low-color));
  --page-text: rgb(var(--high-color));
  --page-text-hover: rgb(var(--full-color));

  --element-bk: rgb(var(--dim-color));
  --element-bk-hover: rgba(var(--mid-color), 0.5);
  --element-bk-transparent: rgba(var(--dim-color), 0.92);
  --element-border: rgba(var(--high-color), 0.4);
  --element-border-focus: rgb(var(--full-color), 0.75);
  --element-border-radius: 3px;
  --element-shadow-low: 0 1px 3px 0px rgba(0,0,0, 0.25);
  --element-shadow-mid: 0 1px 3px 0px rgba(0,0,0, 0.35);
  --element-shadow-high: 0 1px 5px 0px rgba(0,0,0, 0.45);

  --input-bk: rgba(var(--dim-color), 0.6);
  --input-border: rgba(var(--high-color), 0.4);

  --header-height: 3.5em;
  --header-bk: rgba(var(--low-color), 0.985);
  --header-text: rgb(var(--full-color));
  --header-border: rgba(var(--full-color), 0.1);
  --header-border-inverse: rgba(var(--no-color), 0.3);

  --scrollbar-bk: #CFD8DC;
  --scrollbar-thumb: #90A4AE;

  --text-shadow: 0 1px 2px rgba(0,0,0,0.8);
  
  --svg-size: 2vw;
  
  --font-size: 14px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --no-color: 0,0,0;
    --dim-color: 40,40,40;
    --low-color: 60,60,60;
    --mid-color: 80,80,80;
    --high-color: 200,200,200;
    --full-color: 255,255,255;

    /* --input-bk: rgba(var(--no-color), 0.3); */
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--font-size);
  color: var(--page-text);
  background: var(--page-bk);
  overflow-y: scroll;
  scrollbar-color: var(--page-bk) var(--page-text);
}

body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  background: var(--page-text);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--page-bk) ;
  border-radius: 1em;
  border: solid var(--page-text);
}

*:not(body) {
  scrollbar-color: var(--page-text) var(--element-bk);
}
*:not(body)::-webkit-scrollbar {
  width: 1em;
}
*:not(body)::-webkit-scrollbar-track {
  background: var(--element-bk);
}
*:not(body)::-webkit-scrollbar-thumb {
  background-color: var(--page-text) ;
  border-radius: 1em;
  border: solid var(--element-bk);
}

header {
  display: flex;
  justify-items: center;
}

header > * {
  margin: auto 0;
}

header > nav {
  margin-left: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  color: var(--header-text);
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 0.75em;
}

h4 {
  font-size: 1.2em;
  font-weight: 400;
}

p {
  margin: 0 0 1.25em;
}

button {
  padding: 0.6em 0.75em;
  background: #ddd;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

ul {
  list-style: none;
}

ol {
  padding: 0 0 0 1em;
}

svg {
  height: var(--svg-size);
  width: var(--svg-size);
}

label {
  display: block;
  padding: 0 0 1em;
}

label > * {
  margin-top: 0.65em;
}

input:not([type]),
input[type="text"],
input[type="search"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  max-width: 100%;
  padding: 0.6em 0.5em;
  color: var(--page-text);
  font-size: var(--font-size);
  background: var(--input-bk);
  border: 1px solid var(--input-border);
  box-shadow: var(--element-shadow-mid) inset;
  outline: none;
  border-radius: 2px;
}

input:not([type]):focus,
input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus {
  border: 1px solid var(--element-border-focus);
}

slide-panels slide-panel {
  background: var(--page-bk);
}

slide-panel > header {
  display: flex;
  height: var(--header-height);
  color: var(--header-text);
}

slide-panel > header > * {
  align-self: center;
  margin: 0;
}

modal-overlay {
  padding: 1em;
  z-index: 101;
}

modal-overlay > section {
  padding: 1em 1.2em;
  background: var(--header-bk);
  border-radius: var(--element-border-radius);
  box-shadow: var(--element-shadow-high);
}

modal-overlay > section > header {
  color: var(--page-text-hover);
}

modal-overlay header > [modal-close] {
  display: block;
  margin: 0 0 0 auto;
  padding: 0em;
  height: 2em;
  width: 2em;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
}

modal-overlay header > [modal-close]:hover {
  background: var(--element-bk-hover);
}

main > slide-panels > slide-panel > header {
  box-sizing: border-box;
  position: sticky;
  top: var(--header-height);
  border-bottom: 1px solid var(--header-border-inverse);
  background: var(--element-bk-transparent);

  box-shadow: var(--element-shadow-mid);
}

main > slide-panels h2 {
  font-weight: 300;
  text-shadow: var(--text-shadow);
}

main > slide-panels h2 i {
  font-size: 0.9em;
  margin-right: 0.5em;
}

main > slide-panels > slide-panel > header > nav {
  padding: 0 0 0 1em;
  margin: 0 0 0 auto;
}

main > slide-panels > slide-panel > section {
  margin: var(--header-height) 0 0;
  padding: 2em 1em 2em;
}

main > slide-panels > slide-panel > header {
  padding: 0 calc(var(--header-height) / 4);
}

[flex~="left"] {
  margin-left: auto;
}

[view-action="close"] {
  cursor: pointer;
}

[before-content] {
  display: flex;
  align-items: center;
  justify-content: center;
}

[before-content]:before {
  content: attr(before-content);
  display: block;
}

.sidenav {
  padding: 0 1.5em;
  box-shadow: var(--element-shadow-high);
  border-right: 1px solid rgba(255,255,255, 0.15);
}

.sidenav header {
  padding: 0;
}

.sidenav input[type="search"] {
  margin: 1em 0 1em;
}

.sidenav nav > * {
  display: block;
  padding: 0.6em 0.8em;
  color: var(--page-text-dim);
  text-shadow: var(--text-shadow);
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid rgb(var(--low-color));

}

.sidenav nav > *:hover {
  color: var(--page-text-hover);
  background: var(--element-bk-hover);
}

.sidenav nav [class*="fa-"] {
  margin-right: 0.75em;
}

#nav_toggle {
  height: var(--header-height);
  min-width: calc(var(--header-height) - 0.5em);
  z-index: 1;
  cursor: pointer;
}

#global_header {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  height: var(--header-height);
  width: 100%;
  padding-left: 0;
  border-bottom: 1px solid var(--header-border);
  background: var(--header-bk);
  box-shadow: var(--element-shadow-mid);
  z-index: 101;
}

#global_header nav {
  padding: 0 0 0 1em;
}

/*** Layouts ***/




@media (max-width: 699px) {

}

@media (min-width: 700px) {
  #nav {
    transform: none;
  }

  #global_header {
    display: none;
  }

  main > slide-panels > slide-panel > header {
    top: 0;
  }

  main > slide-panels > slide-panel > section {
    margin: 0;
  }
}