<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>&#8291;</title>
    <link rel="stylesheet" href="/extension/css/font-awesome.css" />
    <link rel="stylesheet" href="/extension/css/custom-elements.css" />
    <link rel="stylesheet" href="../view.css" />
    <link rel="stylesheet" href="../sidebar.css" />
    <link rel="stylesheet" href="did-request.css" />
    <script src="/extension/js/custom-elements.js" type="module"></script>
    <script src="/extension/js/web-components/persona-list.js" type="module"></script>
  </head>

  <body>

    <main>

      <header class="panel-header">
        <h2>This site is requesting a DID from you</h2>
        <span view-action="close" flex="left">✕</span>
      </header>
      
      <h5>Create a new DID just for this site</h5>
      <p>
        Provides better privacy if you don't need interactions linked to a Persona.
      </p>
      <button id="create_pairwise_did" options="action"><i class="fas fa-user"></i> Create a new DID</button>

      <hr/>

      <div id="personas">
        <persona-list id="persona_list" list="block" autoload-personas></persona-list>
        <h5>Use one of your Personas</h5> 
        <p>
          Allows you to link your interactions to a Persona others may recognize.
        </p>
      </div>

    </main>

    <footer banner="warning">
      Block this site from requesting DIDs? <button id="block_did_requests" view-action="close" options="cancel">Block</button>
    </footer>

    <script src="/extension/js/polyfills/web-extensions.js"></script>
    <script src="/extension/js/utils.js" type="module"></script>
    <script src="/extension/js/jws.js"></script>
    <script src="../view.js" type="module"></script>
    <script src="../sidebar.js" type="module"></script>
    <script src="did-request.js" type="module"></script>
  </body>

</html>