
{% set no_nav = true %}
{% set css = ['views/popup', 'views/request-did/request-did'] %}
{% set js = [{ path: 'views/popup', module: true }, { path: 'views/request-did/request-did', module: true }] %}

{% extends "default.html" %}

  {% block header %}

    <header>
      <h2>The app <code class="connection-origin"></code> wants to connect</h2>
    </header>

  {% endblock %}

  {% block content %}

    <h5>Create a new ID just for this connection</h5>
    <p>
      Provides better privacy if you don't want your activities linked to a Persona.
    </p>
    <button id="create_pairwise_button" options="action"><i class="fas fa-user"></i>Connect Privately</button>

    <hr/>

    <div id="personas">
      <persona-list id="persona_list" options="autoload"></persona-list>
      <h5>Connect with one of your Personas</h5> 
      <p>
        Connecting with a Persona allows your interactions to be associated more closely with you.
      </p>
    </div>

  {% endblock %}

  {% block footer %}
    <div banner="warning">
      Block this app from making requests: <button id="block_did_requests" view-action="close" options="cancel">Block</button>
    </div>
  {% endblock %}