
html {
  height: 100%;
}

body, main {
  display: flex;
}

body {
  flex-direction: column;
  height: 100%;
}

body > header {
  display: flex;
  padding: 2em;
}

main {
  flex: 1;
  flex-direction: column;
}

main > aside {
  background: rgba(0,0,0,0.2);
}

[tab-type="prompt"] main {
  max-width: 600px;
  padding: 0 2em;
  margin: 0 auto;
}